## Module 2 Strings

In [1]:
## Declaring string variable
name = "Charles"
print(name)
type(name)

Charles

str

In [5]:
text = "I love Python Programming"
## len() is used to get length of the string
print(len(text))

## Printing the string using len()
print(text[:len(text)])

25
I love Python Programming

In [6]:
## String Indexing and slicing
text = 'I love Python'
print(text[0])

## String slicing using : operator
print(text[:])  ## Printing from starting to end of the string
      
print(text[0:6])  ## Printing from starting of the string to 6 characters
print(text[:6])  ## Printing from starting of the string to 6 characters
print(text[2:])   ## Printing from 3rd character to end of the string

I
I love Python
I love
I love
love Python

In [23]:
## Displaying the list of character from text from 2nd letter to last but previous letter
print(text[1:-1])

print(text[0]+text[:-2])

## Reversing the string using Index
print(text[::-1])

##  Reversing the string using Index and display the 3rd last letter

print(text[::-1][-3])

 love pytho
ii love pyth
nohtyp evol i

In [15]:
num = list(range(1, 11))
print(num)
num[::2]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 3, 5, 7, 9]

#### String Handling

In [16]:
## Replacing Python with Data science
new_text = text.replace('Python','Data Science')
print(text)
print(new_text)

text = 'i love python'
print(text.upper())  ## Converting to Upper case
print(text.lower())  ## Converting to lower case
print(text.title())  ## Printing 1st letter of each word in upper case

I love Python
I love Data Science
I LOVE PYTHON
i love python
I Love Python

In [6]:
## Concatenate each element of date with sep
date = '14','06','2021'
sep = '-'

print(date)
sep.join(date)

('14', '06', '2021')

'14-06-2021'

In [37]:
## Print the string by removing leading and trailing '*' Character
text = '***Python*for~Data~ Science**'
print(text.strip('*').replace("*"," ").replace('~',''))

#text.replace()

Python forData Science

In [ ]:
new_text = text.replace('*','~')
print(new_text)
text.strip('~').replace('~',' ')

#### Lists

In [52]:
## Creating Lists
book_list=['Python for Data Science','Intro to Machine Learning','Big Data - Hadoop']
print(book_list)
type(book_list)

['Python for Data Science', 'Intro to Machine Learning', 'Big Data - Hadoop']

list

In [9]:
## Concatenating Lists
authors = ['James Hadley Chase','Sidney Sheldon','Harold Robins']

merged_list = book_list + authors

print(merged_list)

['Python for Data Science', 'Intro to Machine Learning', 'Big Data - Hadoop', 'James Hadley Chase', 'Sidney Sheldon', 'Harold Robins']

In [10]:
## Adding an element to the list
authors.append('Chetan Bhagat')
print(authors)

['James Hadley Chase', 'Sidney Sheldon', 'Harold Robins', 'Chetan Bhagat']

In [41]:
## Sorting the list
price_list = [25, 35, 150, 18,75]

## Sorting the list using sort() method

price_list.sort()

price_list

[18, 25, 35, 75, 150]

In [46]:
## Creating an alphanumeric list
categories=['Dairy','Grocery','Bakery','Fruits']

## Sorting the list
categories.sort()

## Printng the list
categories

['Bakery', 'Dairy', 'Fruits', 'Grocery']

In [47]:
## sorting the list in reverse order
marks = [ 80, 45, 67, 76, 55, 90, 86, 40]

## Sorting the list in reverse order
marks.sort(reverse = True)

## Printing the list
marks

[90, 86, 80, 76, 67, 55, 45, 40]

In [53]:
## Creating a list with mixed data types
mixed_datatype_list = [30.45, 'Kevin', 86, True]

## Sorting the mixed datatype list
mixed_datatype_list.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [44]:
## sorting the list in reverse order
marks = [ 80, 45, 67, 76, 55, 90, 86, 40]

## Sorting a list using sorted function
print(marks)

## using sorted() function
print('The sorted List : ',sorted(marks, reverse = True))

print(marks)  ## Printing the list again.

[80, 45, 67, 76, 55, 90, 86, 40]
The sorted List :  [90, 86, 80, 76, 67, 55, 45, 40]
[80, 45, 67, 76, 55, 90, 86, 40]

The **sort()**  will sort and arrange the element in the list whereas the **sorted()**  only sort and print the elements.  It won't arrange the elements in the list.

#### Checking the presence of an element in the list

In [49]:
## Checking the presence of any lement in the list
print(categories)

## Checking 'Fruits' in the category
print('Fruits' in categories)

## Checking 98 in the marks list
print(98 in marks)

## Printing the marks list to verify the output
print(marks)

['Bakery', 'Dairy', 'Fruits', 'Grocery']
True
False
[90, 86, 80, 76, 67, 55, 45, 40]

#### Iterating the elements in the list
WE can use for loop to iterate the elements in the list

In [17]:
## Let us use the book_list
print(book_list)

['Python for Data Science', 'Intro to Machine Learning', 'Big Data - Hadoop']

In [54]:
## Iterating the elements in the list
for book in book_list :
    print(book.upper())

PYTHON FOR DATA SCIENCE
INTRO TO MACHINE LEARNING
BIG DATA - HADOOP

In [55]:
## More list operations

## First let us print the list
print(marks)

## Find the number of elements in the list
print('The number of elements in "Marks" list: ', len(marks),'\n')

## Printing min and max of marks
print("Maximum mark : ",max(marks),'\n')
print("Minimum mark : ",min(marks),'\n')

[90, 86, 80, 76, 67, 55, 45, 40]
The number of elements in "Marks" list:  8

Maximum mark :  90

Minimum mark :  40

In [56]:
## Removing all the elements from a list
category_backup = categories.copy()

## Printing before clearing the list
print("Before Clearing :",categories)

## Clearing all the elements
categories.clear()

## Printing the list after clearning all the elements
print("After Clearning :", categories)

Before Clearing : ['Bakery', 'Dairy', 'Fruits', 'Grocery']
After Clearning : []

In [58]:
## Now we have an empty list.  We can use append() to add elements to empty list
categories.append('Drinks')

print(categories)


## The append() will take only one element at a time.
categories.extend(['Vegetables','Snacks'])

['Drinks', 'Drinks']

In [22]:
## We can use extend method to add multiple values
categories.extend(['Vegetables','Snacks'])
print(categories)

['Drinks', 'Vegetables', 'Snacks']

#### Shallow Copy 
Shallow copy is actually copying the values to a new variable

In [59]:
## printing categories
print(categories)

## Making a shallow copy
categories_copy = categories.copy()

## Printing new variable
print(categories_copy)

## Now I am extending a new value to categories variable
categories.append('Cloths')

## Printing Categories again
print("Categories:",categories)
print("Copy of Categories:",categories_copy)

['Drinks', 'Drinks', 'Vegetables', 'Snacks']
['Drinks', 'Drinks', 'Vegetables', 'Snacks']
Categories: ['Drinks', 'Drinks', 'Vegetables', 'Snacks', 'Cloths']
Copy of Categories: ['Drinks', 'Drinks', 'Vegetables', 'Snacks']

In [24]:
## Normal copy
names = ['John','Kevin','Ashok']
names_copy = names

## When the list is copied with normal assignment, both list variables are referencing the same list
print("Names : ", names)
print("Names_Copy : ",names_copy)

## Adding a new name to names_copy
names_copy.append("Amy")

## Printing the list 2nd time
print("Names (2nd) : ", names)
print("Names_Copy (2nd) : ",names_copy)

Names :  ['John', 'Kevin', 'Ashok']
Names_Copy :  ['John', 'Kevin', 'Ashok']
Names (2nd) :  ['John', 'Kevin', 'Ashok', 'Amy']
Names_Copy (2nd) :  ['John', 'Kevin', 'Ashok', 'Amy']

In [60]:
## Counting the number of occurrences in a list
print(categories.count('Cloths'))

## the count method will work numeric and boolean too
marks = [90, 85, 85, 91, 90, 78,90]

print(marks.count(90))

boolvar = [True, False, False, True, False]
boolvar.count(False)

1
3

3

In [61]:
categories = ['Drinks', 'Vegetables', 'Bakery', 'Snacks', 'Cloths', 'Cloths']
## The index method will return the lowest index position of a searching value 
#  if there are multiple values in the list
print(categories)

print(categories.index('Cloths'))
print(categories.index('Snacks'))
print(categories.index('Bakery'))

['Drinks', 'Vegetables', 'Bakery', 'Snacks', 'Cloths', 'Cloths']
4
3
2

In [62]:
## Inserting an element in a specific position in a list
categories.insert(2,"Bakery")

## Printing the list
categories

['Drinks', 'Vegetables', 'Bakery', 'Bakery', 'Snacks', 'Cloths', 'Cloths']

In [63]:
## Removing an element from the list
categories = ['Drinks', 'Vegetables', 'Cloths', 'Bakery', 'Snacks', 'Cloths']

## Using pop method
categories.pop()

## After removing the element using pop method
print('After pop :',categories)

## Removing an element from the list
categories = ['Drinks', 'Vegetables', 'Bakery', 'Snacks', 'Cloths', 'Cloths']

## Removing using remove method
categories.remove('Cloths')

## After removing the element using pop method
print('After remove :',categories)

## Using index position to remove the pop
categories.pop(2)

categories

After pop : ['Drinks', 'Vegetables', 'Bakery', 'Snacks', 'Cloths']
After remove : ['Drinks', 'Vegetables', 'Bakery', 'Snacks']

['Drinks', 'Vegetables', 'Snacks']

In [67]:
## Removing an element from the list
categories = ['Drinks', 'Vegetables', 'Cloths', 'Bakery', 'Snacks', 'Cloths']
categories.remove('Vegetables')
result

In [68]:
## Using the reverse() to reverse the list
print(categories)

## Printing the reversed list
categories.reverse()

categories

['Drinks', 'Vegetables', 'Bakery', 'Snacks', 'Cloths']

['Cloths', 'Snacks', 'Bakery', 'Vegetables', 'Drinks']

In [30]:
print(marks)
marks.reverse()
marks

[90, 85, 85, 91, 90, 78, 90]

[90, 78, 90, 91, 85, 85, 90]

#### Indexing and slicing a list
The Indexing and slicing is very similar as string indexing and slicig.  We can use all the operations as similiar to strings indexing and slicing

In [31]:
categories = ['Drinks', 'Vegetables', 'Bakery', 'Snacks', 'Cloths', 'Cloths']

## Pritning actual list
print(categories)

## Printing the first element
print(categories[0])

## Printing 2 to 3 elements
print(categories[1:3])

## Printing 2 and end of the list
print(categories[1:])

## Without last element
print(categories[:-1])

## Printing the reversed list using index
print(categories[::-1])

['Drinks', 'Vegetables', 'Bakery', 'Snacks', 'Cloths', 'Cloths']
Drinks
['Vegetables', 'Bakery']
['Vegetables', 'Bakery', 'Snacks', 'Cloths', 'Cloths']
['Drinks', 'Vegetables', 'Bakery', 'Snacks', 'Cloths']
['Cloths', 'Cloths', 'Snacks', 'Bakery', 'Vegetables', 'Drinks']

## Tuples

Tuples are immutable List.  It is used to create using paranthesis.

In [32]:
## Creating a hetrogeneous tuple
names_marks = ('John','Ashok','Anand','Smith', 85, 90, 92, 94)

## printing tuple
print(names_marks)

type(names_marks)

('John', 'Ashok', 'Anand', 'Smith', 85, 90, 92, 94)

tuple

In [33]:
## Tupels can also be created without paranthesis
names_marks = 'John','Ashok','Anand','Smith','Akshay', 85, 90, 92, 94, 75 

print(names_marks)
print(type(names_marks))

('John', 'Ashok', 'Anand', 'Smith', 'Akshay', 85, 90, 92, 94, 75)
<class 'tuple'>

In [34]:
names = 'John','Ashok','Anand','Smith','Akshay'
marks = 85, 90, 92, 94, 75 

print(sorted(names))
print(sorted(marks))

print(names)

## Sorting and printing in reverse order
print(sorted(marks, reverse = True))

['Akshay', 'Anand', 'Ashok', 'John', 'Smith']
[75, 85, 90, 92, 94]
('John', 'Ashok', 'Anand', 'Smith', 'Akshay')
[94, 92, 90, 85, 75]

In [35]:
## The sorted function on tuple will return only the list, not a tuple
sorted_names = sorted(names)

type(sorted_names)
sorted_names

['Akshay', 'Anand', 'Ashok', 'John', 'Smith']

#### Tuple Oerations

In [36]:
## Repeating tuple elements
Orders = 'Pizza','Ice Cream'

n = 2

print(Orders * n)

('Pizza', 'Ice Cream', 'Pizza', 'Ice Cream')

In [37]:
## Concatenating two tuples
print(names)
print(marks)

names_and_marks = names + marks
names_and_marks

('John', 'Ashok', 'Anand', 'Smith', 'Akshay')
(85, 90, 92, 94, 75)

('John', 'Ashok', 'Anand', 'Smith', 'Akshay', 85, 90, 92, 94, 75)

In [38]:
Orders = 'Pizza','Ice Cream','Fruits','Soup'

## Checking an existance of an element
print('Fruits' in Orders)

print('Cake' in Orders)

## We can use 'non in' operator too
'Chicken Wings' not in Orders

True
False

True

In [39]:
## Iterating the tuple
for item in Orders:
    print(item)
    
## Using len() to count the number of elements
len(Orders)

Pizza
Ice Cream
Fruits
Soup

4

In [40]:
print(marks)

(85, 90, 92, 94, 75)

In [41]:
## Getting the maximum value using max()
max(marks)

94

In [42]:
## Getting the minimum value using min()
min(marks)

75

In [43]:
print(marks[1])

90

In [44]:
marks[1]=95

## Tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [45]:
Prices = 25, 35.50, 49.50, 75, [10,20,30]

print(type(Prices))

print(Prices[4])

## We can append element to a list in the tuple
Prices[4].append(40)

print(Prices)
type(Prices)

<class 'tuple'>
[10, 20, 30]
(25, 35.5, 49.5, 75, [10, 20, 30, 40])

tuple

## Dictionaries

Dictionaries are key, value pair elements in a set.

In [46]:
## Creating Dictory
vegprice = {'Carrot':45, 'Peas':80,'Mango':65}

print(type(vegprice))
print(vegprice)


print(names)
print(marks)
namesmarks=zip(names,marks)
dict1 = dict(namesmarks)
print(dict1)

<class 'dict'>
{'Carrot': 45, 'Peas': 80, 'Mango': 65}
('John', 'Ashok', 'Anand', 'Smith', 'Akshay')
(85, 90, 92, 94, 75)
{'John': 85, 'Ashok': 90, 'Anand': 92, 'Smith': 94, 'Akshay': 75}

In [47]:
dict1

{'John': 85, 'Ashok': 90, 'Anand': 92, 'Smith': 94, 'Akshay': 75}

In [48]:
## Adding an element to dictionary

vegprice["Beans"] = 85

print(vegprice)

{'Carrot': 45, 'Peas': 80, 'Mango': 65, 'Beans': 85}

In [49]:
## Removing an element from the dictionary
del vegprice['Mango']
vegprice

{'Carrot': 45, 'Peas': 80, 'Beans': 85}

In [50]:
## Creating a text
twister = 'can you can a can as a canner can can a can'

## Initializing an empty dictionary object
wordcount = {}

## Let us count each occurrance of a word in the above sentence
for word in twister.split() :
    if word not in wordcount :
        wordcount[word] = 1
    else :
        wordcount[word] += 1;
        
## Printing the wordcount
print(wordcount)

{'can': 6, 'you': 1, 'a': 3, 'as': 1, 'canner': 1}

In [51]:
## Let us use the same twister variable.  But initialize the wordcount again
wordcount = {}

## Let us simplify the for loop
for word in twister.split() :
    wordcount[word] += 1;

## Let us print the dictionary
print(wordcount)

KeyError: 'can'

It will throw an error since we are trying to add a value to uninitialized key in the wordcount dictionary.  To solve the above problem, we can create a default dictionary.

#### Default Dictionary

In [52]:
## Importing the default dictionary library from collections package
from collections import defaultdict

## Let us use the same sentence with initialized wordcount dictionary
wordcount = defaultdict(int)

## Now Let us run the for loop
for word in twister.split() :
    wordcount[word] += 1;

## Let us print the dictionary
print(wordcount)

defaultdict(<class 'int'>, {'can': 6, 'you': 1, 'a': 3, 'as': 1, 'canner': 1})

In [53]:
## Looping through the dictionary
for key, value in wordcount.items() :
    print('Key :', key , "\t\tValue : ", value)

Key : can 		Value :  6
Key : you 		Value :  1
Key : a 		Value :  3
Key : as 		Value :  1
Key : canner 		Value :  1

#### Dictionary Operations

In [54]:
## Counting the number of elements
print("Number of Elements in wordcount : ", len(wordcount))

## Converting to String for printable format
str(wordcount)

## The output will be a complete string

Number of Elements in wordcount :  5

"defaultdict(<class 'int'>, {'can': 6, 'you': 1, 'a': 3, 'as': 1, 'canner': 1})"

In [55]:
## To clear the dictionary
wordcount.clear()

## Printing the wordcount
print(wordcount)

## To create a shallow copy
newvegprice = vegprice.copy()

## Printing the new variable
newvegprice

defaultdict(<class 'int'>, {})

{'Carrot': 45, 'Peas': 80, 'Beans': 85}

In [56]:
## Just to extract the keys from a dictionary
print(vegprice.keys())

## Just to print the values from a dictionary
print(vegprice.values())

dict_keys(['Carrot', 'Peas', 'Beans'])
dict_values([45, 80, 85])

In [60]:
## Retrieving value using get()
print(vegprice)

## Printing price of one item
print("The price of Peas is :", vegprice.get('Peas'))

## Printing an non-existing item from the dictionary
print("The price of Peas is :", vegprice.get('Mango'))
print("The price of Peas is :", vegprice['Mango'])

{'Carrot': 45, 'Peas': 80, 'Beans': 85}
The price of Peas is : 80
The price of Peas is : None

KeyError: 'Mango'

In [61]:
## Setting a key value with setdefault()
vegprice.setdefault('Mango',115)
vegprice

{'Carrot': 45, 'Peas': 80, 'Beans': 85, 'Mango': 115}

In [63]:
## Creating a tuple
order = ("order_id", "quantity",'price')

## Creating a dictionary using fromkeys()
dict1 = dict.fromkeys(order)

print(dict1)

## Assigning default values to all keys
dict2 = dict.fromkeys(order,10)
print(dict2)

{'order_id': None, 'quantity': None, 'price': None}
{'order_id': 10, 'quantity': 10, 'price': 10}

In [64]:
## Updating an item in the dictionary
dict2['price'] = 11.5
print(dict2)

{'order_id': 10, 'quantity': 10, 'price': 11.5}

In [66]:
## Deleting an element from dictionary using del command
dict2['total_price'] = dict2['quantity'] * dict2['price']
print(dict2)

## Now we are going to delete the added column
del dict2['total_price']

print(dict2)

{'order_id': 10, 'quantity': 10, 'price': 11.5, 'total_price': 115.0}
{'order_id': 10, 'quantity': 10, 'price': 11.5}

In [67]:
## Creating a dictionary with duplicate elements

vegprice = {'Carrot':45, 'Carrot':55,'Carrot':53,'Peas':80,'Mango':65}

## If we print the vegprice dictionary, the element 'Carrot' will take the final value in the element
print(vegprice)

{'Carrot': 53, 'Peas': 80, 'Mango': 65}

In [69]:
## Creating dictionary from lists
names=['John','Abhi','Anand']
marks=[86,89, 92]

## we can use zip() to create dictionary
marksdict = dict(zip(names,marks))

print(marksdict)

{'John': 86, 'Abhi': 89, 'Anand': 92}

#### List Comprehension

In [72]:
## Creating an empty list
numseries =[]

for i in range(1, 11):
    numseries.append(i*i)
print(numseries)    

# Creating the same list using list comprehension
numseries1 = [i * i for i in range(1,11)]

## List comprehension using conditions
numseries2 = [i ** 2 for i in range(1, 11) if i % 2 == 0]
print(numseries2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]

In [73]:
## Reading first letter form the list
items = ['Grocery','Dairy','Bakery','Fruits','Soft Drinks']

firstletter = [v[0] for v in items]
print(firstletter)

['G', 'D', 'B', 'F', 'S']

In [74]:
## Extracting only numbers from the text
text = "Anand Employee id is 23325 and his salary is 152000 Rupees"

numbers = [int(i) for i in text.split() if i.isdigit() == True]

numbers

[23325, 152000]

In [76]:
## Extracting vowels from a sentence
sentence = "I will drive the car on my own after I learn the driving"

vowels = [vowel for vowel in sentence if vowel in "aeiouAEIOU"]
print(vowels)

['I', 'i', 'i', 'e', 'e', 'a', 'o', 'o', 'a', 'e', 'I', 'e', 'a', 'e', 'i', 'i']

In [78]:
## Multiple (Nested If) conditions
## Defining a list
items = ['Grocery','Dairy','Bakery','Fruits','Soft Drinks']

discount = [30 if p == 'Soft Drinks' else 20 if p == 'Dairy' else 15 for p in items]
discount

[15, 20, 15, 15, 30]

### User Defined Functions

In [81]:
## Area of triange
def area_of_triange(base, height) :
    return (0.5 * base * height)

base = 5
height = 7

area = area_of_triange(base, height)
print("Area of a triange with base = ", base, " and height = ", height, ' is :', area)

Area of a triange with base =  5  and height =  7  is : 17.5

In [90]:
## greet function without any return value
def greet() :
    print("Welcome to learn UDFs!")

## Calling the functiion
greet()

Welcome to learn UDFs!

In [88]:
## Function with argument
def greet(name) :
    print('Hello ', name, '! Welcome to the Show!!', sep='')
    
person = input("Enter the name: ")    
greet(person)

Enter the name: Anand
Hello Anand! Welcome to the Show!!

In [89]:
## Suppose if you call without any argument, it will throw an error
greet()

TypeError: greet() missing 1 required positional argument: 'name'

In [91]:
## Also if you call a function that does not accept any parameter and calling the function with parameter, 
## it will throw an error
greet(person)

TypeError: greet() takes 0 positional arguments but 1 was given

In [94]:
## Variable length arguments
def addition(*num) :
    total = 0
    for i in num:
        total += i
    print(total)

addition(3, 4, 5)    
addition(3)
addition(1119, 2345)

12
3
3464

In [99]:
## Variable length keyworded arguments
def employee_details(**details) :
    print(type(details))
    for k, v in details.items() :
        print(k,'=',v)
        
employee_details(Name = 'Amy', Salary = 115000)  
print('\n')
employee_details(Firstname = 'Smith', Lastname='William', Designation = 'Software Engineer', Salary = 10000)

<class 'dict'>
Name = Amy
Salary = 115000


<class 'dict'>
Firstname = Smith
Lastname = William
Designation = Software Engineer
Salary = 10000

### Lambda Functions
Simple one lineer Functions

In [100]:
## Finding the largest number
def greater (num1, num2) :
    if (num1 > num2) :
        return num1
    else :
        return num2
    
largest_value = greater(10, 9)   
print(largest_value)

10

In [101]:
## The same function using lambda function
greater = lambda num1, num2: num1 if num1 > num2 else num2
greater(10, 15)

15

In [102]:
## Lambda with map
numlist = list(range(1,11))
sq_list = list(map(lambda x: x **2, numlist))
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [105]:
## Lambda with filter()
sqlist = list(filter(lambda x: x % 3 == 0, numlist))
sqlist

[3, 6, 9]

In [111]:
## Lambda with reduce
from functools import reduce
numlist = list(range(1, 10))
print(numlist)

## Factorial of 5
reduce(lambda a, b: a*b, numlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

362880

In [112]:
## Finding the minimum value
numlist = [-1, 0, 100, 234, -28]

## Finding the minimum value
reduce(lambda x, y: x if (x < y) else y, numlist)

-28