## Pandas Series

In [2]:
## Importing Pandas
import pandas as pd
import numpy as np

In [2]:
## Creating a pandas series from a list
s1 = pd.Series([23, 54, 87, 91, 34, 65])

## Printing the series
print("Pandas series from List\n",s1)

Pandas series from List
 0    23
1    54
2    87
3    91
4    34
5    65
dtype: int64

In [6]:
## Creating a pandas series from an array
s1 = pd.Series(np.array([23, 54, 87, 91, 34, 65]))

## Printing the series
print("Pandas series from an Array\n",s1)

Pandas series from an Array
 0    23
1    54
2    87
3    91
4    34
5    65
dtype: int32

In [11]:
## Creating a pandas series with numeric index
salaries_index = pd.Series(np.array([15000, 250000, 45000, 24000, 34000]), index=np.arange(0,10,2))

## Printing the series
salaries_index

0     15000
2    250000
4     45000
6     24000
8     34000
dtype: int32

In [12]:
## Creating a pandas series with string index
salaries_index = pd.Series(np.array([15000, 250000, 45000, 24000, 34000]), 
                           index=['a1','a2','a3','a4','a5']
                          )

## Printing the series
salaries_index

a1     15000
a2    250000
a3     45000
a4     24000
a5     34000
dtype: int32

In [14]:
## Creating Pandas Series from a dictionary
proddict = {"Fruits":50000, 'Vegetables':23400,'Pulses':23900}

## Creating series from dictionary
prodseries = pd.Series(proddict)

prodseries

Fruits        50000
Vegetables    23400
Pulses        23900
dtype: int64

The keys of a dictionary become an index for the series

In [5]:
t1 = tuple(np.random.randint(100,1000, 10))
print(t1)
p1 = pd.Series(t1)
print(p1)

(977, 325, 600, 625, 371, 142, 440, 791, 593, 439)
0    977
1    325
2    600
3    625
4    371
5    142
6    440
7    791
8    593
9    439
dtype: int64

In [16]:
## Creating class dictionary
classdict = {'X':['Maths','English','Computers'],
             'Y':['Computers','Science'],
             'Z':"Science"}

## Creating series from dictionary
class_series = pd.Series(classdict)

class_series

X    [Maths, English, Computers]
Y           [Computers, Science]
Z                        Science
dtype: object

In [22]:
## Printing the index names
print("The Index names")
print(class_series.index)

##  Printing the Series values
print("\nThe Series Values")
class_series.values

The Index names
Index(['X', 'Y', 'Z'], dtype='object')

The Series Values

array([list(['Maths', 'English', 'Computers']),
       list(['Computers', 'Science']), 'Science'], dtype=object)

#### Accessing Series Elements

In [23]:
## Creating a pandas series with string index
salaries_index = pd.Series(np.array([15000, 250000, 45000, 24000, 34000, 75000]), 
                           index=['a1','a2','a3','a4','a5','a6']
                          )

In [24]:
## To retrieve first 5 elements
print(salaries_index[:5])

a1     15000
a2    250000
a3     45000
a4     24000
a5     34000
dtype: int32

In [25]:
## To retrieve last 3 elements
print(salaries_index[-3:])

a4    24000
a5    34000
a6    75000
dtype: int32

In [30]:
## Creating class dictionary
classdict = {'X':['Maths','English','Computers'],
             'Y':['Computers','Science'],
             'Z':"Science"}


## Creating series from dictionary
class_series = pd.Series(classdict)

## Printing class_series

## Accessing elements using index
print(class_series['X'])

## Accessing multiple elements
print(class_series[['X','Y']])

['Maths', 'English', 'Computers']
X    [Maths, English, Computers]
Y           [Computers, Science]
dtype: object

In [33]:
## Creating Student_marks Series
stu_marks = pd.Series([450,292, 326, 435, 289, 478],
                    index = ['Anand','Akshay','Chetan','Vikram','Vivek','Jyothi'])
stu_marks

Anand     450
Akshay    292
Chetan    326
Vikram    435
Vivek     289
Jyothi    478
dtype: int64

In [34]:
## Filtering the series
stu_marks[stu_marks > 300]

Anand     450
Chetan    326
Vikram    435
Jyothi    478
dtype: int64

#### Arithmetic Operations on Series

In [35]:
## Creating series
sales = pd.Series([2504, 2690, 3245])

## Multiplying the series by 3
print(sales * 3)

0    7512
1    8070
2    9735
dtype: int64

In [36]:
## ELementwise Multiplication
mrp_series = pd.Series([12,34,28])
sales_series = pd.Series([242, 326, 287])

## Computing Total Sales Series
total_sales = mrp_series.multiply(sales_series)

total_sales

0     2904
1    11084
2     8036
dtype: int64

In [6]:
## ELementwise Multiplication
mrp_series = pd.Series([12,34,28])
sales_series = pd.Series([242, 326, 287])

## Computing Total Sales Series
total_sales = mrp_series * sales_series

total_sales

0     2904
1    11084
2     8036
dtype: int64

In [38]:
## Addition of two series
maths_marks = pd.Series([89,92,96])
english_marks = pd.Series([92,76,87])

## Adding two series
total_marks = maths_marks + english_marks

total_marks

0    181
1    168
2    183
dtype: int64

In [39]:
## Suppose there is difference in number of elements in two series
## Addition of two series
maths_marks = pd.Series([89,92,96])
english_marks = pd.Series([92,76,87,65])

## Adding two series
total_marks = maths_marks + english_marks

total_marks

0    181.0
1    168.0
2    183.0
3      NaN
dtype: float64

#### Series Ranking and Sorting

In [7]:
## Creating a marks Series
marks = pd.Series([234,324,982, 125, 465, 764, 257,872,325,198])
marks.rank()

0     3.0
1     5.0
2    10.0
3     1.0
4     7.0
5     8.0
6     4.0
7     9.0
8     6.0
9     2.0
dtype: float64

The rank() will give rank based on the Descending order of elements.

In [8]:
## Sorting the series using sort_values()
sales = pd.Series([2349,2348,np.nan,23948,3489,23427,np.nan,1982,3648])
                   
sales.sort_values(ascending=True)

7     1982.0
1     2348.0
0     2349.0
4     3489.0
8     3648.0
5    23427.0
3    23948.0
2        NaN
6        NaN
dtype: float64

In [47]:
## Sorting the series using sort_values()
sales = pd.Series([2349,2348,np.nan,23948,3489,23427,np.nan,1982,3648])
                   
sales.sort_values(ascending=False, na_position='first')

2        NaN
6        NaN
3    23948.0
5    23427.0
8     3648.0
4     3489.0
0     2349.0
1     2348.0
7     1982.0
dtype: float64

In [9]:
## Sorting the series using sort_values()
sales = pd.Series([3249,2348,np.nan,23948,3489], index=[107,101,104,100,102])
print(sales)
                   
sales.sort_index(ascending=True)

107     3249.0
101     2348.0
104        NaN
100    23948.0
102     3489.0
dtype: float64

100    23948.0
101     2348.0
102     3489.0
104        NaN
107     3249.0
dtype: float64

#### Checking null values
isnull() and notnull() are used to check null values in Series.

In [56]:
## Sorting the series using sort_values()
sales = pd.Series([2349,2348,np.nan,23948,3489,23427,np.nan,1982,3648])
                  
print(sales.isnull())         

sales1 = sales[sales.isnull() == False]
sales1

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
dtype: bool

0     2349.0
1     2348.0
3    23948.0
4     3489.0
5    23427.0
7     1982.0
8     3648.0
dtype: float64

In [16]:
## Sorting the series using sort_values()
sales = pd.Series([2349,2348,np.nan,23948,3489,23427,np.nan,1982,3648])               
    
sales[sales.isnull() == True] = np.mean(sales)
sales

0     2349.000000
1     2348.000000
2     8741.571429
3    23948.000000
4     3489.000000
5    23427.000000
6     8741.571429
7     1982.000000
8     3648.000000
dtype: float64

In [17]:
## Sorting the series using sort_values()
sales = pd.Series([2349,2348,np.nan,23948,3489,23427,np.nan,1982,3648])
                  
print(sales.notnull())         

sales1 = sales[sales.notnull()]
sales1

0     True
1     True
2    False
3     True
4     True
5     True
6    False
7     True
8     True
dtype: bool

0     2349.0
1     2348.0
3    23948.0
4     3489.0
5    23427.0
7     1982.0
8     3648.0
dtype: float64

#### Concatenating Series

We can use concat() and append() to concatenate two or more Series.

In [21]:
## Creating two series using np.linspace
class1 = pd.Series(np.linspace(0,20,11))
class2 = pd.Series(np.linspace(1,21,11))
class3 = pd.Series(np.linspace(2,22,11))

print(class1)
print(class2)
print(class3)

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
dtype: float64
0      1.0
1      3.0
2      5.0
3      7.0
4      9.0
5     11.0
6     13.0
7     15.0
8     17.0
9     19.0
10    21.0
dtype: float64
0      2.0
1      4.0
2      6.0
3      8.0
4     10.0
5     12.0
6     14.0
7     16.0
8     18.0
9     20.0
10    22.0
dtype: float64

In [22]:
## Concatenting two series using concat()
newseries = pd.concat([class1, class2, class3], ignore_index=True)
newseries

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
11     1.0
12     3.0
13     5.0
14     7.0
15     9.0
16    11.0
17    13.0
18    15.0
19    17.0
20    19.0
21    21.0
22     2.0
23     4.0
24     6.0
25     8.0
26    10.0
27    12.0
28    14.0
29    16.0
30    18.0
31    20.0
32    22.0
dtype: float64

In [26]:
## Concatenting two series using concat() with Hierarchical Index and Label the Index
newseries = pd.concat([class1, class2], keys=['Store1','Store2'], names=['Store','Index'])
newseries

Store   Index
Store1  0         0.0
        1         2.0
        2         4.0
        3         6.0
        4         8.0
        5        10.0
        6        12.0
        7        14.0
        8        16.0
        9        18.0
        10       20.0
Store2  0         1.0
        1         3.0
        2         5.0
        3         7.0
        4         9.0
        5        11.0
        6        13.0
        7        15.0
        8        17.0
        9        19.0
        10       21.0
dtype: float64

In [32]:
newseries[newseries % 2 == 1]

Store   Index
Store2  0         1.0
        1         3.0
        2         5.0
        3         7.0
        4         9.0
        5        11.0
        6        13.0
        7        15.0
        8        17.0
        9        19.0
        10       21.0
dtype: float64

In [30]:
print(newseries['Store1'])
## To select subset of elements from multiindex Series
np.mean(newseries['Store1'])

Index
0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
dtype: float64

10.0

In [64]:
## Concatenting the series using append()
class1.append(class2)

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
0      1.0
1      3.0
2      5.0
3      7.0
4      9.0
5     11.0
6     13.0
7     15.0
8     17.0
9     19.0
10    21.0
dtype: float64

In [65]:
## Ignoring the original index of the series
class1.append(class2, ignore_index = True)

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
11     1.0
12     3.0
13     5.0
14     7.0
15     9.0
16    11.0
17    13.0
18    15.0
19    17.0
20    19.0
21    21.0
dtype: float64